<div class="d-flex flex-column-fluid">
  <!--begin::Container-->
  <div class="container">
    <!--begin::Card-->
    <h3 class="card-label mb-6" style="color:#4283e3;font-weight: 600;font-size: 1em;">One-on-One course</h3>
    <div class="card card-custom courses-table-card">
      <div class="card-header courses-table-header flex-wrap border-0 pt-6 pb-0">
        <div class="card-title" style="display:inline;margin-left:10px">
          <h3 class="card-label mb-4" style="color:rgba(225,225,225,0.4);font-weight: 600;font-size: 1.2em;">Region</h3>
          <h3 class="card-label" style="color:#f2f4fa;font-weight: 600;font-size: 1.6em;">USA</h3>
        </div>
        <div class="card-title" style="display:inline;margin-left:8%">
          <h3 class="card-label mb-4" style="color:rgba(225,225,225,0.4);font-weight: 600;font-size: 1.2em;">Grade</h3>
          <h3 class="card-label" style="color:#f2f4fa;font-weight: 600;font-size: 1.6em;">10</h3>
        </div>
      </div>
      <div class="card-body courses-table-card-body">
        <!--begin: Datatable-->
        <div class="datatable datatable-default datatable-bordered datatable-loaded courses-table">
          <table class="datatable-bordered datatable-head-custom datatable-table" style="display: block;">
            <thead class="datatable-head courses-table-head">
              <tr class="datatable-row courses-table-row">
                <th data-field="Student ID" class="datatable-cell datatable-cell-sort"><span style="width: 100px;" class="courses-table-head-cell">Student ID</span></th>
                <th data-field="Student Name" class="datatable-cell datatable-cell-sort"><span style="width: 120px;" class="courses-table-head-cell">Student Name</span></th>
                <th data-field="Mobile" class="datatable-cell datatable-cell-sort"><span style="width: 120px;" class="courses-table-head-cell">Mobile</span></th>
                <th data-field="Email" class="datatable-cell datatable-cell-sort"><span style="width: 250px;" class="courses-table-head-cell">Email</span></th>
                <th data-field="Subjects" class="datatable-cell datatable-cell-sort"><span style="width: 188px;" class="courses-table-head-cell">Subjects</span></th>
              </tr>
            </thead>
            <tbody style="" class="datatable-body courses-table-body">
              <tr data-row="0" class="datatable-row courses-table-row">
                <td class="datatable-cell-sorted datatable-cell" data-field="Student ID" aria-label="56114388"><span style="width: 100px;" class="courses-table-body-cell">56114388</span></td>
                <td data-field="Student Name" aria-label="Kathlyn Gleason" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell">Kathlyn Gleason</span></td>
                <td data-field="Mobile" aria-label="765.227.1173x412" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell-others">+1(219)-249-3009</span></td>
                <td data-field="Email" aria-label="paula.morissette48@yahoo.com" class="datatable-cell"><span style="width: 250px;" class="courses-table-body-cell-others">paula.morissette48@yahoo.com</span></td>
                <td data-field="Subjects" aria-label="Maths, Science, English" class="datatable-cell"><span style="width: 188px;" class="courses-table-body-cell-others">Maths, Science, English</span></td>
              </tr>
              <tr data-row="0" class="datatable-row courses-table-row">
                <td class="datatable-cell-sorted datatable-cell" data-field="Student ID" aria-label="56114388"><span style="width: 100px;" class="courses-table-body-cell">56114388</span></td>
                <td data-field="Student Name" aria-label="Kathlyn Gleason" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell">Kathlyn Gleason</span></td>
                <td data-field="Mobile" aria-label="765.227.1173x412" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell-others">+1(219)-249-3009</span></td>
                <td data-field="Email" aria-label="paula.morissette48@yahoo.com" class="datatable-cell"><span style="width: 250px;" class="courses-table-body-cell-others">paula.morissette48@yahoo.com</span></td>
                <td data-field="Subjects" aria-label="Maths, Science, English" class="datatable-cell"><span style="width: 188px;" class="courses-table-body-cell-others">Maths, Science, English</span></td>
              </tr>
              <tr data-row="0" class="datatable-row courses-table-row">
                <td class="datatable-cell-sorted datatable-cell" data-field="Student ID" aria-label="56114388"><span style="width: 100px;" class="courses-table-body-cell">56114388</span></td>
                <td data-field="Student Name" aria-label="Kathlyn Gleason" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell">Kathlyn Gleason</span></td>
                <td data-field="Mobile" aria-label="765.227.1173x412" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell-others">+1(219)-249-3009</span></td>
                <td data-field="Email" aria-label="paula.morissette48@yahoo.com" class="datatable-cell"><span style="width: 250px;" class="courses-table-body-cell-others">paula.morissette48@yahoo.com</span></td>
                <td data-field="Subjects" aria-label="Maths, Science, English" class="datatable-cell"><span style="width: 188px;" class="courses-table-body-cell-others">Maths, Science, English</span></td>
              </tr>
              <tr data-row="0" class="datatable-row courses-table-row">
                <td class="datatable-cell-sorted datatable-cell" data-field="Student ID" aria-label="56114388"><span style="width: 100px;" class="courses-table-body-cell">56114388</span></td>
                <td data-field="Student Name" aria-label="Kathlyn Gleason" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell">Kathlyn Gleason</span></td>
                <td data-field="Mobile" aria-label="765.227.1173x412" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell-others">+1(219)-249-3009</span></td>
                <td data-field="Email" aria-label="paula.morissette48@yahoo.com" class="datatable-cell"><span style="width: 250px;" class="courses-table-body-cell-others">paula.morissette48@yahoo.com</span></td>
                <td data-field="Subjects" aria-label="Maths, Science, English" class="datatable-cell"><span style="width: 188px;" class="courses-table-body-cell-others">Maths, Science, English</span></td>
              </tr>
              <tr data-row="0" class="datatable-row courses-table-row">
                <td class="datatable-cell-sorted datatable-cell" data-field="Student ID" aria-label="56114388"><span style="width: 100px;" class="courses-table-body-cell">56114388</span></td>
                <td data-field="Student Name" aria-label="Kathlyn Gleason" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell">Kathlyn Gleason</span></td>
                <td data-field="Mobile" aria-label="765.227.1173x412" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell-others">+1(219)-249-3009</span></td>
                <td data-field="Email" aria-label="paula.morissette48@yahoo.com" class="datatable-cell"><span style="width: 250px;" class="courses-table-body-cell-others">paula.morissette48@yahoo.com</span></td>
                <td data-field="Subjects" aria-label="Maths, Science, English" class="datatable-cell"><span style="width: 188px;" class="courses-table-body-cell-others"><button type="button" class="btn courses-btn-configure"
                      name="button"><span>Configure Course</span></button></span></td>
              </tr>
              <tr data-row="0" class="datatable-row courses-table-row">
                <td class="datatable-cell-sorted datatable-cell" data-field="Student ID" aria-label="56114388"><span style="width: 100px;" class="courses-table-body-cell">56114388</span></td>
                <td data-field="Student Name" aria-label="Kathlyn Gleason" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell">Kathlyn Gleason</span></td>
                <td data-field="Mobile" aria-label="765.227.1173x412" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell-others">+1(219)-249-3009</span></td>
                <td data-field="Email" aria-label="paula.morissette48@yahoo.com" class="datatable-cell"><span style="width: 250px;" class="courses-table-body-cell-others">paula.morissette48@yahoo.com</span></td>
                <td data-field="Subjects" aria-label="Maths, Science, English" class="datatable-cell"><span style="width: 188px;" class="courses-table-body-cell-others">Maths, Science, English</span></td>
              </tr>
              <tr data-row="0" class="datatable-row courses-table-row">
                <td class="datatable-cell-sorted datatable-cell" data-field="Student ID" aria-label="56114388"><span style="width: 100px;" class="courses-table-body-cell">56114388</span></td>
                <td data-field="Student Name" aria-label="Kathlyn Gleason" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell">Kathlyn Gleason</span></td>
                <td data-field="Mobile" aria-label="765.227.1173x412" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell-others">+1(219)-249-3009</span></td>
                <td data-field="Email" aria-label="paula.morissette48@yahoo.com" class="datatable-cell"><span style="width: 250px;" class="courses-table-body-cell-others">paula.morissette48@yahoo.com</span></td>
                <td data-field="Subjects" aria-label="Maths, Science, English" class="datatable-cell"><span style="width: 188px;" class="courses-table-body-cell-others">Maths, Science, English</span></td>
              </tr>
              <tr data-row="0" class="datatable-row courses-table-row">
                <td class="datatable-cell-sorted datatable-cell" data-field="Student ID" aria-label="56114388"><span style="width: 100px;" class="courses-table-body-cell">56114388</span></td>
                <td data-field="Student Name" aria-label="Kathlyn Gleason" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell">Kathlyn Gleason</span></td>
                <td data-field="Mobile" aria-label="765.227.1173x412" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell-others">+1(219)-249-3009</span></td>
                <td data-field="Email" aria-label="paula.morissette48@yahoo.com" class="datatable-cell"><span style="width: 250px;" class="courses-table-body-cell-others">paula.morissette48@yahoo.com</span></td>
                <td data-field="Subjects" aria-label="Maths, Science, English" class="datatable-cell"><span style="width: 188px;" class="courses-table-body-cell-others">Maths, Science, English</span></td>
              </tr>
              <tr data-row="0" class="datatable-row courses-table-row">
                <td class="datatable-cell-sorted datatable-cell" data-field="Student ID" aria-label="56114388"><span style="width: 100px;" class="courses-table-body-cell">56114388</span></td>
                <td data-field="Student Name" aria-label="Kathlyn Gleason" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell">Kathlyn Gleason</span></td>
                <td data-field="Mobile" aria-label="765.227.1173x412" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell-others">+1(219)-249-3009</span></td>
                <td data-field="Email" aria-label="paula.morissette48@yahoo.com" class="datatable-cell"><span style="width: 250px;" class="courses-table-body-cell-others">paula.morissette48@yahoo.com</span></td>
                <td data-field="Subjects" aria-label="Maths, Science, English" class="datatable-cell"><span style="width: 188px;" class="courses-table-body-cell-others">Maths, Science, English</span></td>
              </tr>
              <tr data-row="0" class="datatable-row courses-table-row">
                <td class="datatable-cell-sorted datatable-cell" data-field="Student ID" aria-label="56114388"><span style="width: 100px;" class="courses-table-body-cell">56114388</span></td>
                <td data-field="Student Name" aria-label="Kathlyn Gleason" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell">Kathlyn Gleason</span></td>
                <td data-field="Mobile" aria-label="765.227.1173x412" class="datatable-cell"><span style="width: 120px;" class="courses-table-body-cell-others">+1(219)-249-3009</span></td>
                <td data-field="Email" aria-label="paula.morissette48@yahoo.com" class="datatable-cell"><span style="width: 250px;" class="courses-table-body-cell-others">paula.morissette48@yahoo.com</span></td>
                <td data-field="Subjects" aria-label="Maths, Science, English" class="datatable-cell"><span style="width: 188px;" class="courses-table-body-cell-others">Maths, Science, English</span></td>
              </tr>


            </tbody>
          </table>
          <div class="datatable-pager datatable-paging-loaded">
            <ul class="datatable-pager-nav my-2 mb-sm-0">
              <li><a title="First" class="datatable-pager-link datatable-pager-link-first datatable-pager-link-disabled" data-page="1" disabled="disabled"><i class="flaticon2-fast-back"></i></a></li>
              <li><a title="Previous" class="datatable-pager-link datatable-pager-link-prev datatable-pager-link-disabled" data-page="1" disabled="disabled"><i class="flaticon2-back"></i></a></li>
              <li style="display: none;"><input type="text" class="datatable-pager-input form-control" title="Page number"></li>
              <li><a class="datatable-pager-link datatable-pager-link-number datatable-pager-link-active" data-page="1" title="1">1</a></li>
              <li><a class="datatable-pager-link datatable-pager-link-number" data-page="2" title="2">2</a></li>
              <li><a class="datatable-pager-link datatable-pager-link-number" data-page="3" title="3">3</a></li>
              <li><a class="datatable-pager-link datatable-pager-link-number" data-page="4" title="4">4</a></li>
              <li><a class="datatable-pager-link datatable-pager-link-number" data-page="5" title="5">5</a></li>
              <li><a title="Next" class="datatable-pager-link datatable-pager-link-next" data-page="2"><i class="flaticon2-next"></i></a></li>
              <li><a title="Last" class="datatable-pager-link datatable-pager-link-last" data-page="15"><i class="flaticon2-fast-next"></i></a></li>
            </ul>
            <div class="datatable-pager-info my-2 mb-sm-0">
              <span class="datatable-pager-detail" style="color:#8181a5;font-weight:500" >Showing 1 - 10 of 143</span>
            </div>
          </div>

        </div>
        <!--end: Datatable-->
      </div>
    </div>
    <!--end::Card-->
  </div>
  <!--end::Container-->
</div>
