<div class="d-flex flex-column-fluid">
  <!--begin::Container-->
  <div class="container">
              <h3 class="card-label mb-6" style="color:#4283e3;font-weight: 600;font-size: 1em;">Student Profile</h3>
    <!--begin::Card-->
    <div class="card student-profile-card card-custom gutter-b">
      <div class="card-body student-profile-body">
        <!--begin::Details-->
        <div class="d-flex">
          <!--begin: Pic-->
          <div class="flex-shrink-0 mr-7 mt-lg-0 mt-3">
            <div class="symbol symbol-50 symbol-lg-120">
              <img style="border: 3px solid white;border-radius: 100px;" src="assets/media/users/300_1.jpg" alt="image" />
            </div>
          </div>
          <!--end::Pic-->
          <!--begin::Info-->
          <div class="flex-grow-1">
            <!--begin::Title-->
            <div class="d-flex justify-content-between flex-wrap mt-1">
              <div class="d-flex mr-3">
                <a class="text-white font-weight-bold mr-3 student-profile-name">Jason Muller</a>
              </div>
            </div>
            <!--end::Title-->
            <!--begin::Content-->
            <div class="d-flex flex-wrap justify-content-between mt-1">
              <div class="d-flex align-items-center w-25 flex-fill float-right mt-lg-12 mt-8">
                <div class="d-flex flex-wrap mb-4">
                  <a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                    <i class="flaticon2-new-email mr-2 font-size-lg"></i>jason@siastudio.com</a>
                  <a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 mb-2">
                    <i class="flaticon2-calendar-3 mr-2 font-size-lg"></i>PR Manager</a>
                  <a href="#" class="text-dark-50 text-hover-primary font-weight-bold">
                    <i class="flaticon2-placeholder mr-2 font-size-lg"></i>Melbourne</a>
                </div>

              </div>
            </div>
            <!--end::Content-->
          </div>
          <!--end::Info-->
        </div>
        <!--end::Details-->
        <!--begin::Items-->
        <!--begin::Items-->
      </div>
    </div>
    <!--end::Card-->
  </div>
  <!--end::Container-->
</div>
